version: '3'

services:

  # Base Images

  php56-fpm-stretch-base:
    image: my127/php:5.6-fpm-stretch
    build:
      target: base
      args:
        VERSION: 5.6
        REDIS_VERSION: 5.0
        BASEOS: stretch

  php70-fpm-stretch-base:
    image: my127/php:7.0-fpm-stretch
    build:
      target: base
      args:
        VERSION: 7.0
        REDIS_VERSION: 5.0
        BASEOS: stretch

  php71-fpm-stretch-base:
    image: my127/php:7.1-fpm-stretch
    build:
      target: base
      args:
        VERSION: 7.1
        REDIS_VERSION: 5.0
        BASEOS: stretch

  php72-fpm-stretch-base:
    image: my127/php:7.2-fpm-stretch
    build:
      target: base
      args:
        VERSION: 7.2
        REDIS_VERSION: 5.0
        BASEOS: stretch

  php73-fpm-stretch-base:
    image: my127/php:7.3-fpm-stretch
    build:
      target: base
      args:
        VERSION: 7.3
        REDIS_VERSION: 5.0
        BASEOS: stretch

  php73-fpm-buster-base:
    image: my127/php:7.3-fpm-buster
    build:
      target: base
      args:
        VERSION: 7.3
        BASEOS: buster

  php74-fpm-buster-base:
    image: my127/php:7.4-fpm-buster
    build:
      target: base
      args:
        VERSION: 7.4
        BASEOS: buster

  php80-fpm-buster-base:
    image: my127/php:8.0-fpm-buster
    build:
      target: base
      args:
        VERSION: 8.0
        BASEOS: buster

  # Console Images

  php56-fpm-stretch-console:
    image: my127/php:5.6-fpm-stretch-console
    build:
      target: console
      args:
        VERSION: 5.6
        REDIS_VERSION: 5.0
        BASEOS: stretch
    depends_on:
      - php56-fpm-stretch-base

  php70-fpm-stretch-console:
    image: my127/php:7.0-fpm-stretch-console
    build:
      target: console
      args:
        VERSION: 7.0
        REDIS_VERSION: 5.0
        BASEOS: stretch
    depends_on:
      - php70-fpm-stretch-base

  php71-fpm-stretch-console:
    image: my127/php:7.1-fpm-stretch-console
    build:
      target: console
      args:
        VERSION: 7.1
        REDIS_VERSION: 5.0
        BASEOS: stretch
    depends_on:
      - php71-fpm-stretch-base

  php72-fpm-stretch-console:
    image: my127/php:7.2-fpm-stretch-console
    build:
      target: console
      args:
        VERSION: 7.2
        REDIS_VERSION: 5.0
        BASEOS: stretch
    depends_on:
      - php72-fpm-stretch-base

  php73-fpm-stretch-console:
    image: my127/php:7.3-fpm-stretch-console
    build:
      target: console
      args:
        VERSION: 7.3
        REDIS_VERSION: 5.0
        BASEOS: stretch
    depends_on:
      - php73-fpm-stretch-base

  php73-fpm-buster-console:
    image: my127/php:7.3-fpm-buster-console
    build:
      target: console
      args:
        VERSION: 7.3
        BASEOS: buster
    depends_on:
      - php73-fpm-buster-base

  php74-fpm-buster-console:
    image: my127/php:7.4-fpm-buster-console
    build:
      target: console
      args:
        VERSION: 7.4
        BASEOS: buster
    depends_on:
      - php74-fpm-buster-base

  php80-fpm-buster-console:
    image: my127/php:8.0-fpm-buster-console
    build:
      target: console
      args:
        VERSION: 8.0
        BASEOS: buster
    depends_on:
      - php80-fpm-buster-base
